<footer>
  <div class="wrapper">
    <div class="footer-contents">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <div class="footer-column footer-column-1">
        <ul class="contacts">
        <li class="author">{{ site.author | escape }}</li>
        {%- if site.email -%}
        <li>
          <a class="email-link" href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        {%- endif -%}
      </div>
      <div aria-label="Social media sites" class="footer-column footer-column-2">
        {%- include social.html -%}
      </div>
      <div aria-role="Blog Description" class="footer-column footer-column-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
