// * VARIABLES * //
@import "variables";
//------------------------------------

// * DEFAULTS * //
html{
  box-sizing: border-box;
  height: 100%;
}

body, h1, h2, h3, h4, h5,p, ol, ul, figure{
  margin: 0;
  padding: 0;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in; /* Firefox 4 */
  -webkit-transition:color 0.3s ease-in; /* Safari and Chrome */
  -o-transition:color 0.3s ease-in; /* Opera */
}


h2{
  font-size: 2rem;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}
small{
  color: grey;
}
//------------------------------------
// * Body * //
body {
  position: relative;
  font-family: 'Roboto',sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark-cyan;
  font-size: $font-size;
}

//------------------------------------
// * Wrapper * //
// This class wraps a div so that it fits mobile & large screens
.wrapper {
  padding: 0px 20px;
  max-width: calc(100% - (40px));
}



//------------------------------------
// Navbar

nav {
  float: right;
  text-align: center;
  margin-bottom: 10px;
  a {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 5px 20px;

    &:hover{
      color: cyan;
    }
  }


  @keyframes total_rotate{
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #current{
  //  border-bottom: 2px solid cyan;
    &::before{
      color: cyan;
      content:">";
      display: inline-block;
      animation-name: total_rotate;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

  }


}


//------------------------------------
// * Header * //

.flex-container{
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.main-header {

  width: 100%;
  display: inline-flex;
  h1 {
    word-wrap: break-word;
    color: cyan;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    padding: 5px 8px 2px 8px;
    margin: 10px 0;
    font-weight: bold;
    border: 5px solid cyan;
    letter-spacing: 10px;
  //  border-bottom: 6px solid white;

  }

}



//------------------------------------
// * Blog * //
// List of all Posts

.article-heading{
  font-size: 2rem;
}

.white-heading{
  color:#e2e2e2;
  margin: 5px 0;
}

.container {
  box-sizing: border-box;
  color: $secondary-color;
  padding: 50px 0;
}


// Individual posts
.post-list{
  margin: 15px 0;

}

.post{
  padding: 10px 5px;
  font-family: 'Roboto';
  border: 4px dashed $light-cyan;
  margin: 20px 0;
  p{
    color: $dark-grey;
  }

  a{
      color: $dark-grey;

      &:hover{
        color: $accent;

        h2::after{
          content: " <";
        }

      }
    }

}

//------------------------------------
// * Footer * //
// Footer includes short description and social media links
footer{
  margin: 0;
  max-height: 10rem;
  border-top: 3px dotted $light-cyan;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fdfdfd;

  a{
    color:white;
  }

  i{
    padding-right: 10px;
  }

  li {
    margin: 5px 0;
  }
}


.author{
  font-size: 1.2rem;
  font-weight: 400;
}

.email-link{
  color: $accent-lighter;
}


.footer-heading{
  padding: 15px 0;
  font-family: $headline-font;
  text-decoration: underline;
}

.footer-column{
  float: left;
  margin:10px 5px;
  word-wrap: break-word;
}
.footer-column-1{
  width: calc(50% - (20px/2));
}
.footer-column-2{
  width: calc(50% - (20px/2));

  p{
    font-size: 1rem;
    margin-top:5px;
  }

}


// **** LARGER SCREEEN
@media screen and (min-width: 800px){
  body{
    font-size: 16px;
  }

}
@media screen and (min-width: 1040px){
  body{
    font-size: 18px;
  }
  nav{
    a {
      margin: 0 25px;
    }
  }

  .wrapper{
    padding: 0 220px;
    max-width: 1040px;
    margin: 0 auto;
  }


  .article-heading{
    font-size: 2.7rem;
  }

}
