// * VARIABLES * //
@import "variables";
//------------------------------------

// * DEFAULTS * //
body, h1, h2, h3, h4, h5, ol, ul, figure{
  margin: 0;
  padding: 0;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
  text-decoration: none;
  transition: color 0.5s;
  -moz-transition:color 0.5s; /* Firefox 4 */
  -webkit-transition:color 0.5s; /* Safari and Chrome */
  -o-transition:color 0.5s; /* Opera */
}

h2 {
  color: $accent;
  font-family: $headline-font;
  margin-top: 12px;
}

p {
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

//------------------------------------
// * Body * //
body {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

//------------------------------------
// * Wrapper * //
// This class wraps a div so that it fits mobile & large screens
.wrapper {
  padding: 0px 20px;
  max-width: calc(800px - (40px));
}


//------------------------------------
// * Header * //
.main-header {
  position: relative;
  min-height: 55px;
  border-bottom: 1px solid black;
  background-color: $secondary-color;
  padding: 20px 0;


  #current{
    color: $accent;
  }

  .logo {
    color: white;
    font-family: $headline-font;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
  }

  nav {
    float: right;
    line-height: 60px;

    a {
      font-weight: bold;
      color: $text-color;
      padding: 5px 12px;

      &:hover{
        color: $accent-lighter;
      }
    }

  }

}



//------------------------------------
// * Blog * //
// List of all Posts
main{
  min-height: 500px;
}
.container {
  box-sizing: border-box;
  background-color: white;
  color: $secondary-color;
  padding: 30px 0;
}


// Individual posts
.post{
  //border-bottom: 2px solid black;
  padding: 10px 0;
  font-family: 'Roboto';
  border-bottom: 1px solid $accent;

  a{
      color: $accent;
    }

}

.post:last-of-type{
  border-bottom: 0px;
}

//------------------------------------
// * Footer * //
// Footer includes short description and social media links
footer{
  background-color: $primary-color;
  color: #fdfdfd;
  li {
    margin: 5px 0;
  }
}


.author{
  font-size: 1.2rem;
  font-weight: 400;
}

.email-link{
  color: $accent-lighter;
  font-weight: bold;
}


.footer-heading{
  padding: 15px 0;
}

.footer-column{
  float: left;
  margin-bottom: 15px;
}
.footer-column-1{
  width: calc(50% - (30px/2));
}
.footer-column-2{
  width: calc(50% - (30px/2));
}
.footer-column-3{
  width: 100%;
  color: white;
}
