@import "variables";
//--------------
// This post includes styles for blog posts and sites
//--------------

.post-info{
  margin-top: 5px;
  color: grey;
  text-align: left;
}


.post-content{
  text-align: left;
  margin: 25px 0;
  font-size: 18px;
  line-height: 2;
  color: $light-grey;

  h2{
    font-size: 2.5rem;
    color: $light-cyan;
    text-align: center;
  }

  h3{
    font-size: 2rem;
    color: #12AFB2;
  }

  ol{
    list-style: none;
    margin: 5px;
    padding-left: 15px;
    color: #0CE8AA;
    li::before{
      content: ">";
      color: #0CE8AA;
      display: inline-block;
      width: 1em;
      font-weight: bold;
    }
  }

}
