@import "variables";
//--------------
// This post includes styles for blog posts
//--------------

.post-info{
  margin-top: 5px;
  margin-bottom: 15px;
  color: grey;
}

.post-content{
  text-align: left;
}
