@import "variables";

.diamond{
  box-sizing: border-box;
  width: 40px;
  background-color: black;
  border: 10px solid $light-cyan;
  transform-origin: center;


  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

}


.windows-window{

  box-shadow: 10px 10px 5px 5px black;

  max-width: 800px;
  margin: 50px auto;
  min-height: 35vh;
  box-sizing: border-box;
  border-bottom: 3px solid #464646;
  border-right: 3px solid #464646;
  border-left: 3px solid white;
  border-top: 3px solid white;
//  padding: 15px;
//  padding-top: 0px;

  background-color: #c6c7ce;

  h2{
    color: white;
    background-color: #394dcd;

    background: linear-gradient(90deg, #00007b 0%, #0884ce 100%);
    width: calc(100% - 5px);
    font-size: 1.2rem;
    padding-left: 5px;
    &::after{
      float: right;
      content: "X";
      color: black;
      background-color: #c6c7ce;
      border-bottom: 3px solid #464646;
      border-right: 3px solid #464646;
      border-left: 3px solid white;
      border-top: 3px solid white;
      font-size: 0.8rem;
      width: 15px;
      height: auto;
      text-align: center;
      margin-right: 5px;
    }
  }
  h3{
    color: black;
    padding-top: 10px;
    margin: 5px 15px;

  }
  p{
    background-color: white;
    padding: 10px;
    margin: 5px 15px;
    border-top: 3px solid #464646;
    border-left: 3px solid #464646;
    border-right: 3px solid #b9b9b9;
    border-bottom: 3px solid #b9b9b9;

  }

}
