@import "variables";

.diamond{
  box-sizing: border-box;
  width: 40px;
  background-color: black;
  border: 10px solid $light-cyan;
  transform-origin: center;


  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

}



/* ABOUT - WINDOWS THEME */


.windows-border-main{
  border-bottom: 3px solid #464646;
  border-right: 3px solid #464646;
  border-left: 3px solid white;
  border-top: 3px solid white;
}

.top-bar{
  background-color: #394dcd;
  background: linear-gradient(90deg, #00007b 0%, #0884ce 100%);
  display:flex;
  height: 30px;
  align-items: center;
  overflow: hidden;
  button{
    background-color: #c6c7ce;
    color: black;
    text-align: center;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 2px;
    padding: 0;
  }
  .windows-buttons{
    float: right;
    display: inline-flex;
    margin: 0 auto;
    max-width: 90px;
    text-align: center;
  }
  #maximize{
    border: 1px solid black;
    border-top: 2px solid black;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
  }

}

.windows-window{
  box-shadow: 10px 10px 5px 5px black;
  max-width: 800px;
  margin: 50px auto;
  min-height: 35vh;
  box-sizing: border-box;
  max-width: 800px;
  background-color: #c6c7ce;

  h2{
    color: white;
    margin-bottom: 0;
    width: calc(100% - 110px);
    font-size: 1.2rem;
    padding-left: 5px;
  }
  h3{
    color: black;
    padding-top: 10px;
    margin: 5px 15px;

  }
  p{
    background-color: white;
    padding: 10px;
    margin: 5px 15px;
    border-top: 3px solid #464646;
    border-left: 3px solid #464646;
    border-right: 3px solid #b9b9b9;
    border-bottom: 3px solid #b9b9b9;

  }

}
