// This file includes all variables for the layout
// * FONTS * //
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Source+Sans+Pro');

// * NEW COLORS * //
$dark-black: #222;
$dark-grey: #757575;


// * COLOURS * //
$primary-color: #273238;
$secondary-color: #173342;
$accent-lighter: #92BBD1;
$accent: #4493C2;
$text-color: white;



// * FONT VARIABLES * //
$headline-font: 'Playfair Display',sans;
