// This file includes all variables for the layout

// * COLOURS * //
$primary-color: #303952;
$secondary-color: #2B2A40;
$support-color: #BB55FF;
$accent: #73617F;
$text-color: white;


// * FONTS * //
