// This file includes all variables for the layout
// * FONTS * //
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Hanuman');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Ubuntu+Condensed');
// * NEW COLORS * //
$dark-black: #222;
$dark-grey: #757575;
$dark-cyan: #001719;
$light-cyan: #00B8CF;
$super-light: #00E3FF;
$light-grey: #dcdcdc;


$secondary-color: #173342;
// * COLOURS * //
$primary-color: #273238;

$accent-lighter: #92BBD1;
$accent: #4493C2;


// * FONT VARIABLES * //
$headline-font: 'Roboto',sans;
$font-size: 15px;
